<section class="content pt-0 rounded">
  <div class="component-content s-content">
    <div class="row p-2 content-a-box m-0 bg-image-s">
       <div class="col-10 mx-auto mt-3 container">
        <div class="mb-3">
          <div class="my-auto d-flex d-none d-md-block pointer">
            <img class="me-2" src="https://dev1mg.blob.core.windows.net/mgate/logo/Logo.png" alt="logo"
              class="logo-svg">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6 mx-auto">
            <div class="m-shadow p-3">
          <div class="text-center h5">Card Information</div>
          <div class="mt-3">
             <div class="p-border-shadow-25 mt-3 padding-40">
                <div class="row mt-3">
                  <div class="col-12 ">
                    <label for="floatingNumber" class="text-muted mb-1"> <span class="text-md fw-bold">Card number</span></label>
                    <div id="floatingNumber" class="form-control" ></div>


                  </div>
                  <div class="col-6 mt-3 m-top-30">
                    <label for="floatingExpiry" class="text-muted mb-1"><span class="text-md fw-bold">Expires</span></label>
                    <div id="floatingExpiry" class="form-control" ></div>

                  </div>
                  <div class="col-6 mt-3 m-top-30">
                    <label for="floatingCvc" class="text-muted mb-1"><span class="text-md fw-bold">CVV</span></label>
                    <div class="input-group rounded">
                      <div id="floatingCvc" class="form-control groupIcon" ></div>

                    </div>
                  </div>
                  <div class="col-sm-6 mt-3 m-top-30">
                    <label for="floatingPost" class="fw-semibold mb-1"><span class="text-sm fw-bold">Billing postcode</span></label>
                    <div id="floatingPost" class="form-control"></div>

                  </div>
                  <div class="col-12 justify-content-end d-sm-flex mt-4">
                    <button class="btn btn-danger w-100" [disabled]="isLoading" (click)="confirmPayment()">
                      <div class="spinner-border spinner-border-sm text-light me-1" role="status" *ngIf="isLoading"></div>
                      Pay Now</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
          </div>
        </div>

       </div>
    </div>
  </div>
</section>
