<div class="sidebar-wrapper">
  <div class="list-group bg-transparent" id="list-tab" role="tablist">

    <a class="list-group-item list-group-item-action sidebar-item"
       [routerLink]="['admin/home']"
       routerLinkActive="active">
      <div class="item-content">
        <i class="fas fa-home me-2 text-xl"></i>
        <span class="menu-text">Home</span>
      </div>
      <div class="item-indicator"></div>
    </a>

    <a class="list-group-item list-group-item-action sidebar-item"
       routerLink="admin/dashboard"
       routerLinkActive="active">
      <div class="item-content">
        <i class="fas fa-tachometer-alt me-2 text-xl"></i>
        <span class="menu-text">Dashboard</span>
      </div>
      <div class="item-indicator"></div>
    </a>

    <a class="list-group-item list-group-item-action sidebar-item"
       routerLink="admin/community"
       routerLinkActive="active">
      <div class="item-content">
        <i class="fas fa-globe-americas text-xl me-2"></i>
        <span class="menu-text">Communities</span>
      </div>
      <div class="item-indicator"></div>
    </a>

    <a class="list-group-item list-group-item-action sidebar-item"
       [routerLink]="['admin/religion']"
       routerLinkActive="active">
      <div class="item-content">
        <i class="fas fa-pray me-2 text-xl"></i>
        <span class="menu-text">Religions</span>
      </div>
      <div class="item-indicator"></div>
    </a>

    <a class="list-group-item list-group-item-action sidebar-item"
       [routerLink]="['admin/jobs']"
       routerLinkActive="active">
      <div class="item-content">
         <i class="fas fa-briefcase me-2 text-xl me-2"></i>
        <span class="menu-text">Jobs</span>
      </div>
      <div class="item-indicator"></div>
    </a>

    <a class="list-group-item list-group-item-action sidebar-item"
       [routerLink]="['admin/educations']"
       routerLinkActive="active">
      <div class="item-content">
        <i class="fas fa-graduation-cap me-2 text-xl"></i>  <!-- Education -->

        <span class="menu-text">Educations</span>
      </div>
      <div class="item-indicator"></div>
    </a>

    <a class="list-group-item list-group-item-action sidebar-item"
       aria-controls="list-settings">
      <div class="item-content">
        <i class="fas fa-cog me-2 text-xl"></i>
        <span class="menu-text">Settings</span>
      </div>
      <div class="item-indicator"></div>
    </a>

  </div>
</div>
