.bg-color {
  background-color: #d2d5da;
  background-size: cover;
  min-height: 100vh;
}

.side-bar {
  position: fixed;
  height: 80vh;
  overflow: hidden;
  width: 20%;
}
.home-box{
 margin-left: 23%;
}
