.bg-color {
  background-color: rgba(255, 255, 255, 0.5);;
  background-size: cover;
  min-height: 100vh;
}

.side-bar {
  position: fixed;
  height: 80vh;
  overflow: hidden;
  width: 20%;
}
.home-box{
 margin-left: 23%;
 width: 75%;
}
.side-bar {
  position: fixed;
  height: 80vh;
  overflow: hidden;
  width: 20%;
}

@media (max-width: 764px) {
  .home-box{
    margin-left: 0%;
    width: 100%;
    }
}
