.logo-svg{
  width: 250px !important;
}

.profile-btn{
  border: 1px solid #e6b28a;
}

.list-profile {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .logo-svg{
    width: 200px !important;
  }
}
