<section class="nav-parent">
  <div class="">
    <div class="row m-0 app-bg py-2">
      <div class="col-6">
        <img src="https://dev1mg.blob.core.windows.net/mgate/logo/Logo.png" alt="logo" class="logo-svg" >
      </div>
      <div class="col-6"><div class="" *ngIf="mainUser">
        <div class="d-flex justify-content-end">
          <div>
            <div class="d-flex">
              <img  src={{mainUser.image}} class="list-profile object-fit-cover me-3" alt="...">
              <div class="text-muted fw-bold">
              <div class="text-md">{{mainUser.firstName}}</div>
              <div class="text-sm pointer border text-sm px-1" (click)="_authLogout()" >Log out</div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




