<section class="content">
  <div class="component-content">
    <div class="row m-0 app-bg">
      <div class="d-flex justify-content-center align-items-center ps-0">
        <div class="col-12 py-3">
            <div class="d-flex m-center">
              <img src="assets/images/logo.png" alt="" width="60px">
              <div>
                <div class="ms-2 fw-bold text-md text-danger">M GATE</div>
                <div class="text-white ms-2 fw-bold text-md">FOREVER BEGIN HERE</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>




