.bg-color{
  background-color: #d2d5da;
  background-size: cover;
  height: auto;
}

.bg-small{
  background-color: #d2d5da;
  background-size: cover;
  height: 110vh;
}

::ng-deep .progress, .progress-stacked {
  height: 7px !important;
}
