.bg-color{
  background-image: linear-gradient(to bottom right, #111827, #1F2937);
  background-size: cover;
  height: auto;
}

.bg-small{
  background-image: linear-gradient(to bottom right, #111827, #1F2937);
  background-size: cover;
  height: 110vh;
}

::ng-deep .progress, .progress-stacked {
  height: 7px !important;
}
