
<section class="content">
  <div class="component-content">
    <div class="row m-0 bg-color" [ngClass]="currentStep === steps.family || currentStep === steps.lookingFor ? 'bg-small':'bg-color'">
      <div class="col-12 col-md-12 col-lg-10 mx-auto">
       <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
              <div class="col-12 py-3">
                  <app-top-bar></app-top-bar>
                  <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
                      <div class="m-shadow p-3 profile-card pointer">
                        <div class="px-2">
                          <div class="d-flex justify-content-between">
                            <i class="fas fa-arrow-left fs-5 mt-2 text-danger" (click)="goBack()" ></i>
                            <div class="text-xl fw-bold text-center fs-4">USER REGISTRATION</div>
                            <div></div>
                          </div>

                          <!-- <div class="mt-1">Complete this form to make your profile even better.</div> -->
                          <div class="mt-4 fw-bold text-md">STEP {{currentStep + 1}} OF 7</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.lookingFor">Matching Information</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.basic">Personal Information</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.contact">Contact Details</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.personal">Personal Details</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.family">Family Information</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.religionBackground">Religious Background</div>
                          <div class="text-muted text-md mb-1" *ngIf="currentStep === steps.education">Education & Career</div>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ width: getProgressWidth() }" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>

                          </div>
                          <!-- FORMS -->
                          <div class="mt-4" [ngClass]="{'d-none' :currentStep !== steps.lookingFor}">
                            <app-looking-for-form (userMatchingDetailsEmitter)="getUserLookingForDetails($event)"></app-looking-for-form>
                          </div>
                          <div class="mt-4" [ngClass]="{'d-none' :currentStep !== steps.basic }">
                            <app-member-profile-form (basicDetailsEmitter)="getUserBasicDetailsEmitter($event)"></app-member-profile-form>
                          </div>
                          <div class="mt-4" [ngClass]="{'d-none' :currentStep !== steps.contact }">
                            <app-contact-info-form (contactDetailsEmitter)="getUserContactDetailsEmitter($event)"></app-contact-info-form>
                          </div>
                          <div class="mt-4"  [ngClass]="{'d-none' :currentStep !== steps.personal}">
                            <app-personal-details-form (personalDetailsEmitter)="getUserPersonalDetailsEmitter($event)"></app-personal-details-form>
                          </div>
                          <div class="mt-4"  [ngClass]="{'d-none' :currentStep !== steps.family}">
                            <app-family-information-form (userFamilyEmitter)="getUserFamilyDetailsEmitter($event)"></app-family-information-form>
                          </div>
                          <div class="mt-4"  [ngClass]="{'d-none' :currentStep !== steps.religionBackground}">
                            <app-religious-background-form (userReligiousEmitter)="getUserReligiousEmitter($event)"></app-religious-background-form>
                          </div>
                          <div class="mt-4"  [ngClass]="{'d-none' :currentStep !== steps.education}">
                            <app-education-details-form (userEducationEmitter)="getEducationDetails($event)"></app-education-details-form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
