.empty-card{
  min-height: 59vh;
}
.member-list{
  min-height: 57vh;
  border-radius: 15px;
}

.active-color-border{
  border-left: 5px solid green
}

.no-member-card{
  height: 80vh;
}

@media (max-width: 764px) {
  .profile-img{
    width:100% !important;

  }
}
