<div *ngIf="currentsUser">
  <!-- <div class="bg-danger text-white m-shadow p-3 mb-4">
  <div class="text-lg fw-bold">Matching Profile</div>
  <div class="text-md">Browse the profile below to learn more about their background and experience.</div>
</div> -->
<!-- <div class="dashboard-header p-card border-15 p-3" style="animation-delay: 0.1s;">
          <div class="header-content">
            <div class="header-text p-2">
              <h2 class="header-title text-lg">Matching Profile</h2>
              <p class="header-subtitle">Browse the profile below to learn more about their background and experience.</p>
            </div>
            <div class="header-decoration">
              <div class="floating-shapes">
                <div class="shape shape-1"></div>
                <div class="shape shape-2"></div>
                <div class="shape shape-3"></div>
              </div>
            </div>
          </div>
        </div> -->
<div class="d-flex justify-content-between">
  <div class="text-lg fw-bold text-muted p-2">{{totalItemCount === 1 ? 'Matching profile' : 'Matching profiles' }} </div>
  <div class="text-lg fw-bold text-muted p-2">Total Count : {{totalItemCount}} </div>
</div>
<div class="row m-0 member-list">
  <div class="d-flex justify-content-center my-auto" *ngIf="isLoading">
    <div class="spinner-grow text-danger me-1" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning me-1" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="col-12 col-md-6 my-1 p-card" *ngFor="let member of memberProfiles |  paginate: { itemsPerPage: itemsPerPage , currentPage: currentPage, totalItems: totalItemCount }">
    <div class="border bg-white p-2 border-15 m-card"  *ngIf="!isLoading">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="me-2">
          <img src="{{member.imageUrl}}" alt="pf" class="object-fit-cover border border-15 profile-img" width="120px" height="120px">
        </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="text-md fw-bold text-capitalize">{{member.firstName + ' ' + member.lastName}} </div>
          <div class="mt-1 text-sm text-truncate text-capitalize" *ngIf="member.jobTitle"><i class="fas fa-briefcase me-2 text-muted"></i>{{member.jobTitle}}</div>
          <div class="mt-1 text-sm"><i class="fas fa-map-marker-alt me-2 text-muted"></i>{{member.livingAddresses?.country}}</div>
          <div class="mt-1 text-sm"><i class="fas fa-user-clock me-2 text-muted"></i>{{member.age}} years old</div>
          <div class="mt-1 text-sm"><i class="fas fa-star me-2 text-muted"></i>{{member.religion}}</div>
        </div>

        <div class="col-12 col-sm-12 col-md-2 mt-auto">
          <div class="me-2">
          <div class="ms-2 d-flex justify-content-end me-1">
            <div>
              <button class="btn btn-danger" (click)="viewMemberDetails(member.id)"><i class="fas fa-eye text-white" style="color: white !important;"></i></button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="text-center bg-white rounded" *ngIf="memberProfiles.length === 0 && !isLoading">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSadlux1273cB0AkVXr679QPJmLVpbL_BENSg&s" alt="pf" class="object-fit-cover rounded" width="30%" height="250px">
    <div class="text-lg fw-bold text-muted">No matching profiles found</div>
    <div class="text-sm text-muted">Please adjust your filters and try again you'll likely find profiles that better match your criteria.</div>
  </div>
</div>
<!-- PAGINATION -->
<div class="row mb-auto pagination mt-4" *ngIf="totalItemCount > 0">
  <div class="col-6 col-sm-4 mt-auto">
    <div class="pull-left">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-sm fw-bold pt-0"><small>Entries
            per page</small></label>
        <div class="col-sm-4 page-input">
          <input type="number" class="form-control" [(ngModel)]="itemsPerPage" min="1" (change)="changePerPageValue(itemsPerPage)">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 text-right">
    <div class="text-xs">
      <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="5" [previousLabel]="'Prev'"></pagination-controls>
    </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body p-0">
       <app-member-profile-modal [memberProfile]="filterMemberViewData"></app-member-profile-modal>
      </div>
    </div>
  </div>
</div>
</div>
<div class="bg-white rounded no-member-card" *ngIf="!currentsUser && isGetUser">
  <div class="my-auto text-center">
  <img src="https://cdn-icons-png.freepik.com/256/11329/11329073.png?semt=ais_incoming" alt="Profile" class="object-fit-cover rounded mt-5" width="350px" height="250px">
    <div class="text-lg fw-bold text-muted mt-2">You haven't created any members yet</div>
    <div class="text-sm text-muted">Please create at least one member to get matching results</div>
    <div class="class btn btn-danger mt-3" (click)="addMember()">Create Member</div>
  </div>
</div>
 <button class="d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="viewProfileModal"></button>
