<div class="bg-danger text-white m-shadow p-3 mb-4">
  <div class="text-lg fw-bold">Matching Profile</div>
  <div class="text-md">Browse the profile below to learn more about their background and experience.</div>
</div>
<div class="text-lg fw-bold text-muted p-2">{{totalItemCount}} matching profiles</div>
<div class="row m-0 member-list">
  <div class="d-flex justify-content-center my-auto" *ngIf="isLoading">
    <div class="spinner-grow text-danger me-1" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning me-1" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="col-6 my-3" *ngFor="let member of memberProfiles |  paginate: { itemsPerPage: itemsPerPage , currentPage: currentPage, totalItems: totalItemCount }">
    <div class="m-shadow p-2 active-color-border" *ngIf="!isLoading">
      <div class="row">
        <div class="col-4">
          <div class="profile-img me-2">
          <img src="{{member.profileImages[0].url}}" alt="pf" class="object-fit-cover border rounded" width="150px" height="150px">
        </div>
        </div>
        <div class="col-4 ">
          <div class="text-md fw-bold text-muted text-truncate">{{member.firstName + ' ' + member.lastName}} </div>
          <div class="mt-1 text-sm text-truncate"><i class="fas fa-briefcase text-primary me-2"></i>{{member.profileJob.title}}</div>
          <div class="mt-1 text-sm"><i class="fas fa-map-marker-alt me-2 text-danger"></i>{{member.originCountry}}</div>
          <div class="mt-1 text-sm"><i class="fas fa-user-clock me-2 text-secondary"></i>{{member.age}} years old</div>
          <div class="mt-1 text-sm text-truncate"><i class="fas fa-language me-2 text-info"></i>{{member.knownLanguages}}</div>
          <div class="mt-1 text-sm"><i class="fas fa-star me-2 text-warning"></i>{{'API'}}</div>

        </div>

        <div class="col-4 mt-auto">
          <div class="d-flex align-items-end mt-auto">
          <div class="ms-2 d-flex justify-content-between">
            <div class="me-2">
              <button class="btn btn-primary"><i class="fas fa-comment-dots text-white"></i></button>
            </div>
            <div class="me-2">
              <button class="btn btn-light"><i class="fas fa-phone text-success"></i></button>
            </div>
            <div>
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-eye text-white"></i></button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="text-center bg-white rounded" *ngIf="memberProfiles.length === 0 && !isLoading">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSadlux1273cB0AkVXr679QPJmLVpbL_BENSg&s" alt="pf" class="object-fit-cover rounded" width="350px" height="250px">
    <div class="text-lg fw-bold text-muted">No matching profiles found</div>
    <div class="text-sm text-muted">Please adjust your filters and try again you'll likely find profiles that better match your criteria.</div>

</div>
</div>
<!-- PAGINATION -->
<div class="row mb-auto pagination mt-4" *ngIf="totalItemCount > 0">
  <div class="col-6 col-sm-4 mt-auto">
    <div class="pull-left">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-sm fw-bold pt-0"><small>Entries
            per page</small></label>
        <div class="col-sm-4 page-input">
          <input type="number" class="form-control" [(ngModel)]="itemsPerPage" min="1" (change)="changePerPageValue(itemsPerPage)">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 text-right">
    <div class="text-xs">
      <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="5" [previousLabel]="'Prev'"></pagination-controls>
    </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body p-0">
       <app-member-profile-modal></app-member-profile-modal>
      </div>
    </div>
  </div>
</div>



