.price-amount {
  font-size: 1.5rem;
  font-weight: 800;
  color: #212529;
  line-height: 1;
}
.dim-btn{
  border: 1px solid rgb(237, 53, 53) !important;
}

.dim-btn:hover{
  background-color: #f5d6d6;
}

.dim-green{
  border: 1px solid rgb(53, 237, 53) !important;
  color: rgb(53, 237, 53) !important;
}

.dim-green:hover{
  background-color: rgb(63 144 63);
  color: white !important;
}
