<section class="content">
  <div class="component-content">
    <div class="row m-0 p-0 ">
      <div class="col-8 mx-auto mt-3 ">
        <h3>Plan And Billing</h3>
        <div class="text-md">Manage your subscription plan and billing preferences</div>

        <div class="mt-3">
          <div class="border p-3 bg-white border-15">
            <div><i class="fas fa-credit-card me-3"></i><span class="fw-bold text-muted fs-4">Current Plan</span></div>
            <div class="mt-3 d-flex justify-content-between">
              <div>
                <div class="text-lg fw-bold text-muted">Gold Plan</div>
                <div class="price-section mb-2 mt-2">
                  <div class="price-wrapper">
                    <span class="currency">$</span>
                    <span class="price-amount">{{10}}</span>
                    <span class="price-period">/ Month
                    </span>
                  </div>
                </div>
              </div>
              <div>
                <div><i class="far fa-calendar-alt me-2"></i><span class="me-3">Renews on 2024-02-15</span></div>
                <div><i class="fas fa-user me-2"></i><span class="me-3">10 members included</span></div>
                <div><i class="far fa-envelope me-2"></i><span class="me-3">Requests/month5</span></div>
              </div>
            </div>

            <hr>

            <div class="mt-3 d-flex ">
              <div class="btn dim-btn text-danger me-3">View Invoice</div>
              <div class="btn dim-btn text-danger">Cancel Subscription</div>
            </div>
          </div>
        </div>

        <div class="mt-4">
            <h3>Payment Method</h3>
            <div class="mt-3" *ngIf="correctPlan">
              <div class="row">
                <div class="col-12">
                  <div class="border p-3 bg-white border-15">
                    <div class="row">
                      <div class="col-4">
                        <div class="d-flex">
                          <div class="me-3"><img width="60" src="https://bublstorage.blob.core.windows.net/bubl/Documents/visa.svg" alt="Visa"></div>
                          <div class="me-2">
                            <div class="text-md">Visa</div>
                            <div class="text-xs">{{correctPlan.last4Digit}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-8 text-right my-auto text-danger pointer"><i class="fas fa-pencil-alt me-1"></i> Change</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="mt-4">
           <h3>Change Plan</h3>
           <div class="mt-3">
              <!-- Subscription Cards -->
            <div class="row g-4 justify-content-center">
              <!-- Free Plan -->
              <div class="col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let plan of plans">
                <div class="subscription-card-container">
                  <div class="card subscription-card h-100 pointer border">
                    <!-- <div class="text-center border-0 position-relative overflow-hidden"> -->
                      <!-- <div class="gradient-overlay free-gradient"
                        [ngClass]="plan.subscriptionType === subscriptionType.Free ? 'free-gradient' : plan.subscriptionType === subscriptionType.Silver ? 'silver-gradient' : plan.subscriptionType === subscriptionType.Gold ? 'gold-gradient' : 'platinum-gradient'">

                      </div> -->
                      <!-- <div class="header-content">
                        <div class="subscription-icon mb-2">
                          <span class="display-4" *ngIf="plan.subscriptionType === subscriptionType.Free">🆓</span>
                          <span class="display-4" *ngIf="plan.subscriptionType === subscriptionType.Silver">🥈</span>
                          <span class="display-4" *ngIf="plan.subscriptionType === subscriptionType.Gold">🥇</span>
                          <span class="display-4" *ngIf="plan.subscriptionType === subscriptionType.Platinum">💎</span>
                        </div>
                        <h4 class="card-title text-white fw-bold mb-1"> {{plan.name }}
                        </h4>
                        <p class="text-white-50 mb-0 small text-uppercase fw-semibold letter-spacing">
                          {{plan.subscriptionType === subscriptionType.Free ? 'Free Plan' : plan.subscriptionType === subscriptionType.Silver ? 'Silver Plan' : plan.subscriptionType === subscriptionType.Gold ? 'Gold Plan' : 'Platinum Plan'}}
                        </p>
                      </div> -->
                    <!-- </div> -->

                    <div class="text-center fw-bold pt-3 fs-4">
                      <div class="mb-2 text-muted">
                          <span class="">Free Trial</span>
                          <!-- <span class="" *ngIf="plan.subscriptionType === subscriptionType.Silver">Silver Plan</span>
                          <span class="" *ngIf="plan.subscriptionType === subscriptionType.Gold">Gold Plan</span>
                          <span class="" *ngIf="plan.subscriptionType === subscriptionType.Platinum">Platinum Plan</span> -->
                        </div>
                    </div>

                    <div class="card-body text-center pb-0">
                      <div class="price-section mb-2">
                        <div class="price-wrapper">
                          <span class="currency">$</span>
                          <span class="price-amount">{{plan.price}}</span>
                          <span class="price-period">
                            Year
                          </span>
                        </div>
                      </div>

                      <div class="features-list">
                        <ul class="list-unstyled text-start">
                          <li class="feature-item mb-3">
                            <i class="fas fa-check me-2 app-font-color"></i>
                            <span class="fw-semibold me-1">{{plan.subscriptionPlanFeature.memberCount}}</span>
                            <span class="text-muted"> member included</span>
                          </li>
                          <li class="feature-item mb-3">
                            <i class="fas fa-check me-2 app-font-color"></i>
                            <span class="fw-semibold me-1">{{plan.subscriptionPlanFeature.sendFriendRequestCount}}</span>
                            <span class="text-muted">
                              friend requests per month</span>
                          </li>
                          <li class="feature-item mb-3">
                            <i class="fas fa-check me-2 app-font-color"></i>
                            <span class="fw-semibold me-1"></span>
                            <span class="text-muted">
                              Advanced search filters</span>
                          </li>
                          <li class="feature-item mb-3">
                            <i class="fas fa-check me-2 app-font-color"></i>
                            <span class="fw-semibold me-1"></span>
                            <span class="text-muted">
                              Personalized match suggestions</span>
                          </li>

                          <li class="feature-item mb-3">
                            <i class="fas fa-check me-2 app-font-color"></i>
                            <span class="fw-semibold me-1"></span>
                            <span class="text-muted">
                             Unlimited matches</span>
                          </li>
                          <li class="feature-item mb-3">
                            <i class="fas fa-check me-2 app-font-color"></i>
                            <span class="fw-semibold me-1"></span>
                            <span class="text-muted">Priority customer support
                             </span>
                          </li>
                          <!-- <li class="feature-item mb-3">
                            <i class="fas fa-sync-alt me-2"></i>
                            <span class="text-muted">Billed every
                              <span
                                class="fw-semibold">{{plan.interval === billingInterval.Month ? 'month' : plan.interval === billingInterval.Year ? 'year' : plan.interval === billingInterval.Week ? 'week' : 'day' }}</span></span>
                          </li> -->

                        </ul>
                      </div>
                      <div class="btn  w-100 mb-2 dim-btn bg-white text-danger" >
                         <span class=""> Switch Plan</span>
                          <!-- <span class="" *ngIf="plan.subscriptionType === subscriptionType.Silver">Continue with Silver Plan</span>
                          <span class="" *ngIf="plan.subscriptionType === subscriptionType.Gold">Continue with Gold Plan</span>
                          <span class="" *ngIf="plan.subscriptionType === subscriptionType.Platinum">Continue with Platinum Plan</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </div>
        </div>

      </div>
    </div>
  </div>
</section>
