<div class="row m-0 bg-white">
  <div class="col-12 p-0">
    <div class="nav-parent">
      <div class="d-flex justify-content-between">
        <div class="my-auto d-flex">
            <img class="me-2" src="https://dev1mg.blob.core.windows.net/mgate/logo/Logo.png" alt="logo" class="logo-svg" >

        </div>

        <!-- TAP BAR -->
        <!-- <div class="my-auto">
          <div class="d-flex justify-content-between">
            <div class="me-4 pointer"  [routerLink]="'/home/member'"  routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }">
              <i class="fas fa-home fa-lg me-1 text-muted "></i>Home
            </div>
            <div class="pointer">
              <i class="fas fa-users fa-lg me-1 text-muted"></i>Members
            </div>
            <div></div>
          </div>
        </div> -->
       <nav class="navbar navbar-expand-sm p-0">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/member']" [class.active-link]="router.isActive('/home', { paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' })" >
                  <i class="fas fa-home fa-lg me-1 text-muted"></i> Home
                </a>
              </li>
              <li class="nav-item m-top-20">
                <a class="nav-link" [routerLink]="['/member/profiles']"
                  [class.active-link]="router.isActive('/member', { paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' })"
                >
                  Members
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="me-2 position-relative">
          <div class="d-flex">
            <div class="mt-2 me-3 member d-none d-sm-block" *ngIf="!isLoading && memberProfiles.length > 0">
              <div class="d-flex">
                <img class="object-fit-cover me-2" src={{selectedMember.profileImages[0].url}} alt="profile" width="40px" height="40px">
                <div class="my-auto fw-bold text-sm">{{selectedMember.firstName + ' ' + selectedMember.lastName}}</div>
              </div>
            </div>
            <!-- MESSAGE -->
            <div class="circles border me-2 pointer position-relative mes" (click)="toggleDropdown('message')" *ngIf="memberProfiles.length > 0" >
              <i class="fas fa-comments fa-lg"></i>
              <div class="text-white bg-danger notification-bandage position-absolute p-2">1</div>
            </div>
            <!-- NOTIFICATION -->
            <div class="circles border me-2 pointer position-relative noti" (click)="toggleDropdown('notification')" *ngIf="memberProfiles.length > 0">
              <i class="fas fa-bell fa-lg"></i>
              <div class="text-white bg-danger notification-bandage position-absolute p-2">5</div>
            </div>
            <div class="profile-image pointer profi"  (click)="toggleDropdown('profile')" >
              <img class="circles" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Ku57hHBcfOoQSu-_zNOtaao0V-MaY6MsEw&s" class="circles object-fit-cover" alt="...">
            </div>
          </div>
          <div class="boder rounded bg-white position-absolute message-box fw-bold" *ngIf="isNotificationOpen">Notifications</div>
          <div class="boder rounded bg-white position-absolute message-box fw-bold" *ngIf="isMessageOpen">Message</div>
          <div class="boder rounded bg-white position-absolute" [ngClass]="memberProfiles.length === 0 ? 'register-drop' : 'message-box'" *ngIf="isProfileOpen">
            <div class="d-flex">
              <div class="me-3">
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Ku57hHBcfOoQSu-_zNOtaao0V-MaY6MsEw&s" class="list-profile object-fit-cover" alt="...">
              </div>
              <div class="my-auto fw-bold">
                {{loginUserDetails.FirstName + ' ' + loginUserDetails.LastName}}
              </div>
            </div>
            <hr>
            <!-- <div class="d-flex ps-2 pb-2">
              <div class="me-2 pointer position-relative mes" >
                <i class="fas fa-users"></i>
              </div>
                <div class="text-md fw-bold my-auto">Members</div>
            </div> -->
            <div class="text-sm" *ngIf="memberProfiles.length > 0">
              <div class="text-md fw-bold my-auto ps-2 pb-2">Members</div>
              <div class="member-toggle-list pointer"  *ngFor="let p of memberProfiles">
                <div class="d-flex p-2 member-card border-radios-15" (click)="changeMemberProfile(p.id)">
                  <div class="me-3">
                    <img [src]="p.profileImages[0].url" class="list-profile object-fit-cover" alt="...">
                  </div>
                <div class="my-auto fw-normal">
                  {{p.firstName +' ' + p.lastName}}
                </div>
                </div>
              </div>
              <div class="d-flex p-2 member-card border-radios-15 pointer" (click)="navigateToRegister()" *ngIf="canAddProfile">
                <div class="small-circle border me-2 pointer position-relative mes" *ngIf="memberProfiles.length > 0" >
                  <i class="fas fa-user-plus fa-lg"></i>
                </div>
               <div class="my-auto">
                  create new member profile
               </div>
              </div>
              <div class="my-2 pointer">
                <button class="btn w-100 my-auto" [ngClass]="canAddProfile ? 'btn-secondary' : ' btn-danger'" (click)="canAddProfile = !canAddProfile">{{canAddProfile ? 'cancel' :'See all members' }}</button>
              </div>

              <div class="text-md fw-bold ps-2 pb-2" >Settings</div>
            </div>

             <div class="d-flex p-2 member-card border-radios-15 pointer mb-3" (click)="navigateToRegister()" *ngIf="memberProfiles.length === 0">
                <div class="small-circle border me-2 pointer position-relative mes" >
                  <i class="fas fa-user-plus fa-lg"></i>
                </div>
               <div class="my-auto">
                  create new member profile
               </div>
              </div>

            <div class="member-toggle-list " (click)="_authLogout()" >
              <div div class="pointer d-flex p-2">
                <div class="small-circles me-2">
                  <i class="fas fa-sign-out-alt fa-lg"></i>
              </div>
                <div class="text-sm">log out</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
