<div class="row m-0">
  <div class="col-12 p-0">
    <div class="nav-parent">
      <div class="d-flex justify-content-between">
        <div class="">
            <img src="https://dev1mg.blob.core.windows.net/mgate/logo/Logo.png" alt="logo" class="logo-svg" >
        </div>
          <div class="me-2 position-relative">
            <div class="d-flex">
              <!-- <div class="mt-2 me-3 member-box pointer position-relative" (click)="isDropOpen = !isDropOpen">
                <div class="border rounded p-1 d-flex">
                  <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Ku57hHBcfOoQSu-_zNOtaao0V-MaY6MsEw&s" class="object-fit-cover" alt="..." width="25px">
                  <div class="text-sm fw-bold text-muted mx-3 d-flex align-item-center member-name">Abiram</div>
                  <div class="mber-name me-2 mt-1"> <i class="fas fa-chevron-down"></i></div>
                </div>
                <div class="border p-2 position-absolute drop-list" *ngIf="isDropOpen">
                  <div class="d-flex mt-2 py-1 pb-2 pointer border-bottom pointer member-list-box rounded">
                    <div class="">
                       <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Ku57hHBcfOoQSu-_zNOtaao0V-MaY6MsEw&s" class="object-fit-cover" alt="..." width="25px">
                    </div>
                    <div class="text-sm fw-bold text-muted ms-2 member-name">
                      vijaya kumar
                    </div>
                  </div>

                </div>
              </div> -->
              <div class="mt-2 me-3 member" *ngIf="!isLoading && !hideProps">
                <ng-select
                class="member-select"
                [items]="memberProfiles"
                bindLabel="name"
                bindValue="id"
                [ngModelOptions]="{standalone: true}"
                [clearable]="false"
                [searchable]="false"
                [(ngModel)]="selectedMember"
                (ngModelChange)="changeMember()"
                >

                <!-- Label template -->
                <ng-template ng-label-tmp let-item="item">
                  <div class="d-flex" >
                    <div class="me-2">
                      <img [src]="item.profileImages[0].url" alt="" width="30px">
                    </div>
                    <div>
                      {{item.firstName}}
                    </div>

                  </div>
                </ng-template>
                <!-- Option template -->
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <img [src]="item.profileImages[0].url" alt="" width="30px" class="me-2">
                       <div class="me-3">
                      {{item.firstName}}
                      </div>
                    </div>
                    <div class="text-primary text-xs" (click)="viewMemberProfile(item.id)">view</div>
                  </div>
                </ng-template>
              </ng-select>
              </div>
               <!-- MESSAGE -->
              <div class="circles border me-2 pointer position-relative mes" (click)="toggleDropdown('message')" *ngIf="!hideProps" >
                <i class="fas fa-comments fa-lg"></i>
                <div class="text-white bg-danger notification-bandage position-absolute p-2">1</div>
              </div>
              <!-- NOTIFICATION -->
              <div class="circles border me-2 pointer position-relative noti" (click)="toggleDropdown('notification')" *ngIf="!hideProps">
                <i class="fas fa-bell fa-lg"></i>
                <div class="text-white bg-danger notification-bandage position-absolute p-2">5</div>
              </div>
              <div class="profile-image pointer profi"  (click)="toggleDropdown('profile')" >
                <img class="circles" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Ku57hHBcfOoQSu-_zNOtaao0V-MaY6MsEw&s" class="circles object-fit-cover" alt="...">
              </div>
            </div>
            <div class="boder rounded bg-white position-absolute message-box fw-bold" *ngIf="isNotificationOpen">Notifications</div>
            <div class="boder rounded bg-white position-absolute message-box fw-bold" *ngIf="isMessageOpen">Message</div>
            <div class="boder rounded bg-white position-absolute  fw-bold" [ngClass]="hideProps ? 'register-drop' : 'message-box'" *ngIf="isProfileOpen">
              <div class="d-flex">
                <div class="me-3">
                  <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Ku57hHBcfOoQSu-_zNOtaao0V-MaY6MsEw&s" class="list-profile object-fit-cover" alt="...">
                </div>
                <div class="my-auto">
                  {{loginUserDetails.FirstName + ' ' + loginUserDetails.LastName}}
                </div>
              </div>
              <hr>
              <!-- <div class="d-flex ps-2 pb-2">
                <div class="me-2 pointer position-relative mes" >
                  <i class="fas fa-users"></i>
                </div>
                 <div class="text-md fw-bold my-auto">Members</div>
              </div> -->
              <div *ngIf="!hideProps">
                <div class="text-md fw-bold my-auto ps-2 pb-2">Members</div>
                <div class="member-toggle-list pointer"  *ngFor="let p of memberProfiles">
                  <div class="d-flex p-2">
                    <div class="me-3">
                      <img [src]="p.profileImages[0].url" class="list-profile object-fit-cover" alt="...">
                    </div>
                  <div class="my-auto fw-normal">
                    {{p.firstName +' ' + p.lastName}}
                  </div>
                  </div>
                </div>
                <div class="text-md fw-bold ps-2 pb-2" >Settings</div>
              </div>

              <div class="member-toggle-list " (click)="_authLogout()" >
                <div div class="pointer d-flex p-2">
                 <div class="small-circles me-2">
                    <i class="fas fa-sign-out-alt fa-lg"></i>
                </div>
                 <div class="text-sm"  >log out</div>
               </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
