.nav-parent{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.logo-svg{
  width: 240px !important;
}

@media (max-width: 480px) {
  .logo-svg{
    width: 200px !important;
  }
}
.circles {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 213, 213);
}

.icon-color{
  color: #1F2937;
}

.circles:hover {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(187, 179, 179);
}

.member-box{
  .member-name{
    display: flex;
    align-items: center;
  }

  .drop-list{
    background-color: white;
    width: 100%;
    .member-list-box:hover{
      background-color: #dce1e7;
    }
  }


}

.notification-bandage{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7px;
    right: 0px;
  }

.message-box{
  //bottom: -70px;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
 // right: -129px;
}
.member-select {
  width: 200px; // or 100%, or whatever fits your design
  justify-content: center;
}

.list-profile{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-circle{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 213, 213);
}

.member-toggle-list :hover{
  background-color: rgb(235, 235, 235);
  transform: scale(1.04);
};


.register-drop{
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 420%;
  right: -7px;
}

.member-card{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media (max-width: 480px) {
  .circles{
    width: 40px;
    height: 40px;
  }

  .circles:hover {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  .message-box {
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    width: 259%;
    right: 0px;
    border-radius: 15px;
  }

}
