<section class="content">
  <div class="component-content">
    <div class="row m-0 bg-colors">
      <div class="col-12 col-md-12 col-lg-9 mx-auto">
       <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
              <div class="col-12 px-0 px-sm-4 py-3">
                <div class="bg-danger text-white m-shadow p-3">
                  <div class="text-lg fw-bold">Member list</div>
                  <div class="text-md">View and manage all the members with m-gate.</div>
                </div>
                <div class="text-end mt-3">
                  <button class="btn btn-danger"  (click)="navigateToFrom()"> <span class="fw-bold">+</span> Add Member</button>
                </div>
                <div class="row mt-3 ms-0 me-0">
                    <div class="col-12 col-sm-6 p-2 position-relative" *ngFor="let p of memberProfiles">
                      <div class="mx-auto m-shadow p-2">
                        <div class="d-flex justify-content-between align-items-start">
                        <div class="d-flex">
                          <img alt="fd-profile" width="100px" height="100px"
                              class="object-fit-cover border profile-img border-15"
                              src={{p.profileImages[0].url}}>
                          <div class="text-left my-auto ms-3">
                            <div class="fw-bold text-md text-capitalize">{{p.firstName + ' ' + p.lastName}}</div>
                            <div class="text-muted text-sm text-capitalize">{{p.profileJob?.title}}</div>
                          </div>
                        </div>

                        <div class="me-3 my-auto">
                          <!-- <div class="dropdown">
                          <button class="btn p-0 border-0 bg-transparent" type="button" data-bs-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </button>
                          <ul class="dropdown-menu shadow-sm rounded-3">
                            <li><a class="dropdown-item" (click)="navigateToEditForm(p.id)"><i class="fas fa-edit text-primary me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="deleteMemberId = p.id"><i class="fas fa-trash text-danger me-2 text-primary"></i>Delete</a></li>
                          </ul>
                        </div> -->
                        <div>
                         <span><i class="fas fa-edit text-primary me-2 pointer" (click)="navigateToEditForm(p.id)"></i></span>
                         <span><i class="fas fa-trash text-danger text-primary pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="deleteMemberId = p.id"></i></span>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteMemberModalId"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-10 mx-auto">
            <div class="text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/3687/3687412.png" alt="" width="150px">
            </div>
            <div class="text-lg fw-bold text-center">Confirm to delete this member</div>
            <div class="mt-3">
              <div class="d-flex justify-content-center">
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" aria-label="Close"> cancel</button>
                <button class="btn btn-danger" (click)="deleteMember()" [disabled]="isLoading">Confirm <div class="spinner-border spinner-border-sm text-light me-1" *ngIf="isLoading"></div></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
