<div class="row m-0 bg-white shadow-sm d-block d-sm-none ">
  <div class="col-12 p-2 bg-gradiaon">
    <div class="d-flex justify-content-between align-items-center position-relative">
      <!-- Logo -->
      <div class="">
        <img src="https://dev1mg.blob.core.windows.net/mgate/logo/Logo.png" alt="logo" class="me-2"
          style="width: 120px;">
      </div>
      <div class="actions-section me-3">
        <div class="text-white fw-bold me-2">{{selectedMember.firstName}}</div>
        <div class="action-button">
          <img [src]="selectedMember.profileImages[0].url" class="p-1 rounded-circle" width="44" height="44" alt="profile" />
        </div>
        <div class="action-button me-2" (click)="toggleDropdown('friend', $event)">
          <i class="fas fa-user-plus"></i>
          <div class="notification-badge">2</div>
            <div class="dropdown-box position-absolute top-100 end-0 bg-white border mt-2 p-2 shadow-sm"
              *ngIf="showFriendDropdown">
              <div>No new friend requests</div>
            </div>
        </div>

        <div class="action-button" (click)="toggleDropdown('notification', $event)">
          <i class="fas fa-bell"></i>
          <div class="notification-badge">5</div>
            <div class="dropdown-box position-absolute top-100 end-0 bg-white border mt-2 p-2 shadow-sm"
              *ngIf="showNotificationDropdown">
              <div>No new notifications</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
