.logo-svg {
  width: 200px !important;
}

.circles {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 213, 213);
}

.notification-bandage {
  border-radius: 100%;
  width: 2px;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7px;
  right: 0px;
}
.dropdown-box {
  min-width: 200px;
  z-index: 1050;
  border-radius: 8px;
}
.notification-bandage {
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
